@media only screen and (max-width:455px){
    .image-adj  {
        width: 100%;

    }
    /* p */
}

@media only screen and (max-width:455px){
    tr th{
        padding: 0px;
    }
    .passport{
        width: 55%;
    }
    .aboutself{
        width: 55%;
        padding: 5px;
    }
}

@media only screen and (max-width:455px){
    body{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width:768px){
    body{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:455px){
    body{
        font-size: 0.7rem;
    }
}